.suj-commentable-section {
  font-family: Arial, Helvetica, serif;
  font-size: 12px;
  
  input, textarea {
    display: inline-block;
    vertical-align: middle;
  }
  
  textarea {
    resize: none;
    width: 475px;
    height: 70px;
    border-radius: 5px;
    border: 3px solid #EAEAEA;
  }
  
  input {
    border-radius: 5px;
    border: 2px solid #EAEAEA;
    padding: 5px;
    background: #EAEAEA;
    font-weight: bold;
    color: #606060;
    
    &:hover {
      background: #909090;
      color: white;
    }
  }
  
  .suj-commentable-form {
    
  }
  
  ol.suj-commentable-list ul.suj-commentable-list {
    margin-left: 1.3em;
  }
  
  .suj-commentable-item .suj-commentable-form {
    display: none;
    clear: both;
    border-top: 1px dotted #AAA;
    padding-top: 5px;
    margin-top: 5px;
  }
  
  .suj-commentable-controls {
    margin-top: 5px;
    clear: both;
    width: auto;
    overflow: auto;
    
    span {
      margin: 0px 2px;
      float: right;
    }
    
    span.suj-commentable-reply-show {
      float: left;
    }
    
    input {
      font-size: 85%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .suj-commentable-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    
    .suj-commentable-item {
      border: 1px solid #EAEAEA;
      background: #F6F6F6;
      margin-top: 10px;
      border-radius: 8px;
      padding: 8px;
    }
    
    .suj-commentable-author, .suj-commentable-time, .suj-commentable-rating {
      font-size: 9px;
      font-style: italic;
      color: #808080;
    }
    
    .suj-commentable-author, .suj-commentable-time {
      margin-bottom: 6px;
      float: right;
    } 
    
    .suj-commentable-author {
      margin-left: 2px;
    }
    
    .suj-commentable-text {
      clear: both;
    }
  }
}
