<div class='suj-commentable-section'>
  <% comments =  commentable.ordered_comments.roots.page(params[:page]||1) -%>
  <%= render :partial => "suj/commentable/form", :formats => [:html], :locals => { :commentable => commentable, :parent => nil } %>
  <ol id='suj-commentable-<%= commentable.id -%>' class='suj-commentable-list'>
    <% comments.each do |comment| %>
      <%= render :partial => 'suj/commentable/item', :formats => [:html], :locals => { :comment => comment, :commentable => commentable } %>
    <% end %>
  </ol>
  <%= show_more_tag(comments, commentable, params[:page]) -%>
</div>
